body {
  font-family: "Cantarell", sans-serif;
  font-size: 10pt;
  background-color: #101040;
}

div#wholepage {
  max-width: 800px;
  margin: auto;
}

div#header {
  margin: 0;
  padding: 45px 1em 15px 1em;
  text-align: right;
  background-image: url(banner.jpg); background-repeat:no-repeat; background-position:center top;
  margin-bottom: 1em;
  color: #101040;
  background-color: #090907;
  font-family: "Cantarell", sans-serif;
}

div#header h1 {
  font-size: 300%;
  margin: 0 0 0 0;
  padding: 0;
  font-weight: normal;
}

div#header h2 {
  font-size: 120%;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: normal;
}

div.content {
  background-color: #ffffeb;
  color: #101040;
  padding: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: justify;
  margin-right: 13em;
  border: thin #101040 solid;
}

div.content a {
  border-bottom: 1px dotted #101040;
}

div.content h1 {
  font-size: 150%;
  font-weight: normal;
  font-family: "Cantarell", "lucida sans", sans-serif;
  text-indent: 1.5cm;
}

div#sidebar {
  width: 12em;
  float: right;
  padding: 0;
  margin-right: 2px;
}

div.sidebox {
  width: 100%;
  background-color: #ffffeb;
  color: #101040;
  text-align: right;
  margin-bottom: 1em;
  border: thin #101040 solid;
}

div#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a:link, a:visited, a:hover {
  color: #101040;
  text-decoration: none;
}

div#sidebar ul li {
  display:block;
  border-bottom: 1px solid #101040;
  padding: 0.3em;
}

div#sidebar ul li.last {
  border: 0;
}

div#sidebar ul li a:link, div#sidebar ul li a:visited {
  display: block;
  padding: 0.2em;
}

div#sidebar ul li a:hover {
  display: block;
  color: #ffffeb;
  background-color: #101040;
  padding: 0.2em;
}

ul#twitter_update_list li span {
  text-align: left;
  display: block;
}

ul#twitter_update_list li span a:hover, ul#twitter_update_list li span a:link, ul#twitter_update_list li span a:visited {
  display: inline;
  padding: 0em;
}

a#twitter-link {
  padding: 0.2em;
  display: block;
}

a#twitter-link:hover {
  color: #ffffeb;
  background-color: #101040;
  padding: 0.2em;
  display: block;
}

div.dopplr-badge {
  background-color: #ffffeb;
  margin-bottom: 1em;
  text-align: justify;
  font-family: "gill sans", sans-serif;
  font-size: 10pt;
}

div.dopplr-badge p {
  font-family: "gill sans", sans-serif;
  font-size: 10pt;
}

div#sidebar ul.trips {
  list-style-type: circle;
  padding-top: 0.15em
  font-family: "gill sans", sans-serif;
  font-size: 10pt;
}

div#sidebar ul.trips li {
  list-style-type: circle;
  text-align: left;
  padding-top: 0.2em;
  padding-bottom: 0.15em;
  padding-left: 0em;
  margin: 0em;
  border-bottom: none;
  font-size: 10pt;
  font-family: "gill sans", sans-serif;
}

div#sidebar ul.trips li a:link, div#sidebar ul.trips li a:visited {
  display: inline;
  padding: 0em;
}
